@import "gui"

footer
    position  : relative
    z-index   : 1
    height    : footer_height
    width     : 100%
    padding   : 12px

#footer_meta
    absolute: bottom left
    & h6
        margin-left: 12px
        color      : font_color-medium
        &:last-child
            margin-bottom: 6px

#footer_download
    float       : right
    width       : 264px
    margin-right: 10%
    transition  : all time_fast

#footer_download-switch
    position: relative
    margin  : 12px 24px 12px 0px

#footer_download-button
    position           : relative
    float              : right
    background-image   : url("../../images/download.png")
    background-position: center
    background-repeat  : no-repeat
    background-size    : 48px
