@import "gui"

footer
    position  : relative
    z-index   : 1
    height    : footer_height
    width     : 100%
    text-align: right

#footer_meta
    absolute: bottom left
    & h6
        padding: 6px
        color  : font_color-medium

#footer_switch
    position    : relative
    margin-right: 24px

#footer_download
    position    : relative
    margin-right: 24px
