color_main-light    = #cccccc
color_main-medium   = #323232
color_main-dark     = #202020

color_accent-light  = #6a8d9d
color_accent-normal = #555555
color_accent-dark   = #466675

font_color-light  = #FFFFFF
font_color-medium = #C5C4C4
font_color-dark   = #3F3F3F

font_size-small     = 12px
font_size-normal    = 18px
font_size-large     = 24px

font_weight-light  = 300
font_weight-medium = 400
font_weight-heavy  = 700

time_fast   = .3s
time_normal = .9s
time_slow   = 1.8s

header_height = 48px
footer_height = 72px
sidebar_width = 60px