@import "gui"

press
    display         : inline-block
    height          : 48px
    width           : 120px
    line-height     : @height
    font-size       : font_size-normal
    font-weight     : font_weight-medium
    text-align      : center
    text-transform  : uppercase
    background-color: color_accent-light
    cursor          : pointer
    transition      : background-color time_fast
    &:hover
        background-color: color_accent-dark