@import "gui"

sidebar
    position           : absolute
    top                : header_height
    right              : 0
    height             : "calc(100% - %s)" % (header_height + footer_height + 48)
    width              : sidebar_width
    margin             : 24px 0px 24px 12px
    background-image   : url("../../images/next.png")
    background-position: center
    background-repeat  : no-repeat
    background-size    : 60px