@import "gui"

switch
    display         : inline-block
    position        : relative
    height          : 24px
    width           : 120px
    line-height     : 24px
    background-color: color_accent-normal
    & .cover
        absolute           : right
        height             : 100%
        width              : 50%
        pointer-events     : inherit
        &.right
            right: 0px
        &.left
            right: 50%
    & .side
        display       : inline-block
        height        : 100%
        width         : 50%
        font-size     : 12px
        font-weight   : 400
        text-align    : center
        text-transform: uppercase