@import "common\gui"

#cmsc
    vertical-align: top
    & > *
        display : inline-block
        relative: top left
    & h1
        padding : 24px 48px 12px 72px

.cmsc_list
    height     : 192px
    width      : calc(100% - 48px)
    margin     : 0px 24px
    padding    : 0px 24px
    overflow-x : scroll
    overflow-y : hidden
    white-space: no-wrap

.cmsc_program
    display     : inline-block
    height      : 180px
    width       : 180px
    margin-right: 60px
    white-space : initial

.cmsc_list press
    position           : relative
    top                : 0px
    height             : 48px
    width              : 48px
    background-position: center
    background-repeat  : no-repeat
    background-size    : 24px
    &#cmsc_program-add
        left            : -6px
        vertical-align  : top
        background-image: url("../../images/add.png")
    &.cmsc_program-remove
        left            : -6px
        margin-bottom   : -48px
        background-image: url("../../images/remove.png")
        transition      : background-color time_fast
