@import "common\gui"

#iffcc
    vertical-align: top

#iffcc_list
    display   : flex
    flex-wrap : wrap
    height    : 204px
    width     : calc(100% - 48px)
    margin    : 0px 24px
    padding   : 0px 24px

.iffcc_profile
    flex-basis : auto
    margin     : auto
    display    : inline-block
    height     : 180px
    width      : 204px
    margin     : 48px 36px 0px 0px
    text-align : center
    white-space: initial
    & p
        width: 96px
    & input
        width: 96px
    & switch
        float     : right
        margin-top: 12px
