@import "common\gui"

#content
    relative  : top left
    height    : 100%
    width     : 400%
    transition: left time_slow
    & > div
        display      : inline-block
        height       : 100%
        width        : 25%
        padding-right: sidebar_width