link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700")
link(rel="stylesheet" href="/style/common/reset.css")
link(rel="stylesheet" href="/style/common/anims.css")
link(rel="stylesheet" href="/style/common/press.css")
link(rel="stylesheet" href="/style/common/tab.css")
link(rel="stylesheet" href="/style/common/switch.css")
link(rel="stylesheet" href="/style/common/background.css")
link(rel="stylesheet" href="/style/common/header.css")
link(rel="stylesheet" href="/style/common/footer.css")
