script(type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js" defer)
script(tpye="text7javascript" src="//cdn.rawgit.com/phstc/jquery-dateFormat/master/dist/jquery-dateFormat.min.js" defer)
script(type="text/javascript" src="/javascripts/common/options.js" defer)
script(type="text/javascript" src="/javascripts/common/footer.js" defer)
script(type="text/javascript" src="/javascripts/common/header.js" defer)
