script(type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js" defer)
script(type="text/javascript" src="//cdn.rawgit.com/phstc/jquery-dateFormat/master/dist/jquery-dateformat.min.js" defer)
script(type="text/javascript" src="//cdn.rawgit.com/Gliptal/https-plugin-server/master/jquery.filter_input.js" defer)
script(type="text/javascript" src="//cdn.rawgit.com/Stuk/jszip/master/dist/jszip.min.js" defer)
script(type="text/javascript" src="//cdn.rawgit.com/eligrey/FileSaver.js/master/dist/FileSaver.min.js" defer)
script(type="text/javascript" src="./javascripts/common/options.js" defer)
script(type="text/javascript" src="./javascripts/common/switch.js" defer)
script(type="text/javascript" src="./javascripts/common/header.js" defer)
script(type="text/javascript" src="./javascripts/common/footer.js" defer)
script(type="text/javascript" src="./javascripts/common/sidebar.js" defer)
