script(type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js" defer)
script(type="text/javascript" src="//cdn.rawgit.com/phstc/jquery-dateFormat/1.0.2/dist/jquery-dateFormat.min.js" defer)
script(type="text/javascript" src="//cdn.rawgit.com/Gliptal/https-plugin-server/cfd41cffd2c0761eccfd6f0b90f284e5abe60920/jquery.filter_input.js" defer)
script(type="text/javascript" src="//cdn.rawgit.com/Stuk/jszip/v3.1.5/dist/jszip.min.js" defer)
script(type="text/javascript" src="//cdn.rawgit.com/eligrey/FileSaver.js/00183093bf92592fe231e56b0e681fe150123ccb/dist/FileSaver.min.js" defer)
script(type="text/javascript" src="./javascripts/common/options.js" defer)
script(type="text/javascript" src="./javascripts/common/switch.js" defer)
script(type="text/javascript" src="./javascripts/common/header.js" defer)
script(type="text/javascript" src="./javascripts/common/footer.js" defer)
script(type="text/javascript" src="./javascripts/common/sidebar.js" defer)
