include /views/common/switch.pug

footer
    #footer_meta
        h6!= footer.text.meta
    .hidden#footer_download
        +switch("footer_download-switch", footer.switch.download.left, footer.switch.download.right)
        press.interactable#footer_download-button