mixin switch(id, left, right, side)
    switch(id=id)
        if (side == "r")
            .cover.interactable.right
        else if (side == "l")
            .cover.interactable.left
        .side!= left
        .side!= right